* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Class */
.floated {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.white-text {
  color: white;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.content-text {
  font-size: 20px;
}

h2 {
  color: #0E0E0E;
  font-size: 30px;
}
/* end Utility Class */

body {
  background-image: url("../img/background.png");
}

div.container {
  width: 1416px;
  margin: 30px auto;
}

header {
  background-image: url("../img/logo-bg.png");
  background-size: cover;
  height: 453px;
  border: 10px solid white;
  position: relative;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#logo-img {
  height: 250px;
  width: 550px;
}

nav {
  height: 70px;
  background-color: #666666;
  position: relative;
}

nav ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav ul li:nth-child(-n+6) {
  padding-right: 20px;
}

main {
  width: 100%;
  height: 500px;
  padding: 15px 0 40px;
}

main > section.side-sx, main > section.side-dx {
  width: 16%;
}

main > section.side-sx div.content {
  padding: 5px 8px;
}

main section.side-sx img.icon {
  vertical-align: top;
}

main section.side-sx h2 {
  padding: 0 0 10px 7px;
}

main section.side-sx a {
  color: green;
  text-decoration: none;
  display: block;
  clear: both;
  padding: 0 0 10px;
}

main > section.main-content {
  width: 68%;
  padding: 0 5%;
}

main > section.main-content, main > section.main-content div.content, main section.side-dx div.right-content div.content {
  height: 100%;
}

main > section.side-dx {
  height: 95%;
}

main > section.side-dx div.right-content {
  height: 50%;
}

main > section.side-dx div.right-content:nth-child(-n+2) {
  padding-bottom: 15px;
}

main > section.side-sx, main > section.main-content div.content, main > section.side-dx div.right-content div.content, footer {
  background-color: rgb(255,255,255);
  border-radius: 5px;
}

footer {
  height: 100px;
}
