* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Class */
.white-text {
  color: white;
}

.floated {
  float: left;
}
/* end Utility Class */

body {
  background-image: url("../img/background.png");
}

div.container {
  width: 1416px;
  margin: 30px auto;
}

header {
  background-image: url("../img/logo-bg.png");
  background-size: cover;
  height: 453px;
  border: 10px solid white;
  position: relative;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#logo-img {
  height: 250px;
  width: 550px;
}

nav {
  height: 70px;
  background-color: #666666;
  position: relative;
}

nav ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

nav ul li:nth-child(-n+6) {
  padding-right: 20px;
}

main {
  width: 100%;
  height: 500px;
  padding: 10px 0;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

main > section.side-sx {
  height: 70%;
}

main > section.side-sx, main > section.side-dx {
  width: 25%;
}

main > section.side-sx, main > section.side-dx div.right-content div.content {
  background-color: #D391E3;
}

main > section.main-content {
  width: 50%;
  padding: 0 20px;
}

main > section.main-content, main > section.main-content div.content, main section.side-dx div.right-content div.content {
  height: 100%;
}

main > section.main-content div.content {
  background-color: #800080;
}

main > section.side-dx {
  height: 95%;
}

main > section.side-dx div.right-content {
  height: 50%;
}

main > section.side-dx div.right-content:nth-child(-n+2) {
  padding-bottom: 15px;
}

footer {
  background-color: #ADD8E6;
  height: 100px;
}
